<div class="row">
  <div class="box box-default">
    <div class="box-header">
      <h3 class="box-title">Pessoas Cadastradas</h3>
      <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          <input type="text" name="table_search" class="form-control pull-right" placeholder="Procurar">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Data de Nascimento</th>
          <th>Email</th>
          <th>Qt Telefones</th>
          <th>Ações</th>
        </tr>
        <div *ngIf="pessoas.length == 0" style="text-align: center">Não há pessoas Cadastradas!</div>
        <tr *ngFor="let pessoa of pessoas">
          <td>{{pessoa.id}}</td>
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.cpf}}</td>
          <td>{{pessoa.dataNascimento}}</td>
          <td>{{pessoa.email}}</td>
          <td>{{pessoa.telefones.length}}</td>
          <td>
            <a routerLink="/form-pessoa/{{pessoa.id}}" routerLinkActive="active">Editar</a> |
            <div (click)="removerPessoa(pessoa.id)" style="display:inline; color:darkred; cursor: pointer;">Remover</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>