<header class="main-header">
    <a href="index2.html" class="logo">
        <span class="logo-mini"><b>A</b>MV</span>
        <span class="logo-lg"><b>Agenda</b>MV</span>
    </a>

    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <p style="color:white">exemplo@email.com - ADMIN</p>
        </div>

    </nav>
</header>