<div class="box box-default col-md-6">
  <div class="box-header with-border">
    <h3 class="box-title">Formulario Pessoa</h3>
  </div>
  <form [formGroup]="pessoaForm" (ngSubmit)="salvarPessoa()" class="form-horizontal">
    <div class="box-body">

      <div class="row">
        <div class="form-group col-xs-4 inputs">
          <label for="inputNome" class="control-label">Nome</label>
          <div>
            <input formControlName="nome" type="text" class="form-control" id="inputNome" placeholder="Nome">
          </div>
        </div>

        <div class="form-group col-xs-4">
          <label for="inputCPF" class="control-label">CPF</label>
          <div class="">
            <input formControlName="cpf" type="text" class="form-control" id="inputCPF" placeholder="CPF">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-4 inputs">
          <label for="datepicker" class="control-label">Data Nascimento</label>
          <div>
            <input formControlName="dataNascimento" type="date" class="form-control" id="datepicker">
          </div>
        </div>

        <div class="form-group col-xs-4">
          <label for="inputEmail" class="control-label">Email</label>
          <div>
            <input formControlName="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
      </div>
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-success pull-right" [disabled]="!pessoaForm.valid">
        Salvar
      </button>
    </div>
  </form>
  <div class="row">
    <div class="box box-default">
      <div class="box-header">

        <div class="row">
          <div class="input-group">
            <div class="form-group col-xs-2">
              <label for="inputDDD" class="control-label">DDD</label>
              <div>
                <input type="email" [(ngModel)]="ddd" class="form-control" id="inputDDD" placeholder="DDD">
              </div>
            </div>
            <div class="form-group col-xs-4">
              <label for="inputNumero" class="control-label">Numero</label>
              <div>
                <input type="text" [(ngModel)]="numero" class="form-control" id="inputNumero" placeholder="Numero">
              </div>
            </div>
            <div class="form-group col-xs-2">

              <div (click)="cadastrarNumero()" class="btn btn-dafault btn-add">
                Adicionar
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>DDD</th>
            <th>Numero</th>
            <th>Ações</th>
          </tr>
          <div *ngIf="telefones.length == 0" style="text-align: center">Não há telefones Cadastrados!</div>
          <tr *ngFor="let telefone of telefones">
            <td>{{telefone.ddd}}</td>
            <td>{{telefone.numero}}</td>
            <td>
              <div (click)="removerTelefone(telefone)" style="display:inline; color:darkred; cursor: pointer;">Remover</div>
            </td>
          </tr>
        </table>  
      </div>
    </div>
  </div>
</div>