<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">

      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i> <span>Pessoas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/form-pessoa"><i class="fa fa-circle-o"></i>Add Nova Pessoa</a></li>
          <li><a routerLink="/"><i class="fa fa-circle-o"></i>Listagem de Pessoas</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>